<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/IITG.png" alt="">
  </div>
  <div class="headings">
    <h2>Interview-Tracking Website</h2>
    <h3>By Tanmay Sutar</h3>
    <a href="/smoothies" class="btn">View Companies</a>
  </div>
</header>
<span class="boxie">
<span class="program">
  <h2><a href="\topics" style="color: black;">Programming Section</a></h2>
</span>
<span class='interview'></a>
<h2><a href="\interviews" style="color: black;">Interview Experience</a></h2>
</span>
</span>

<!-- <section id="one" class="spotlight style1 bottom">
  <span class="image fit main"><img src="images/Campus.jpg" alt="" /></span>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-4 col-12-medium">
          <span class="program">
          <h2><a href="\topics" style="color: black;">Programming Section</a></h2>
          </span>
        </div>
        <div class="col-4 col-12-medium">
          <a href="\interviews"><span id='interview'></span></a>
          <h2><a href="\interviews" style="color: black;">Interview Experience</a>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section> -->


<%- include('partials/footer'); -%>